.bg{
    content:'';
    background-image: url('./images/northernsamarprovincialcapitol2.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  
}